[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
jupyter = "*"
jupyterlab = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
flask = "*"
tensorflow-gpu = "==1.13.1"
keras = "*"
torch = "==1.3.0"
theano = "*"
xgboost = "*"
catboost = "*"
seaborn = "*"
lightgbm = "*"
optuna = "*"
ipywidgets = "*"
tqdm = "*"
xlrd = "*"
scipy = "*"
opencv-python = "*"
opencv-contrib-python = "*"

[requires]
python_version = "3.6"
